<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="cardno great gr">
                <div class="card-body">
                    <img class="beer" src="https://cdn.dribbble.com/users/77598/screenshots/4308169/dribbble1.png">
                    <div class="h4"><strong>Benefits</strong></div>

                    <hr>
                    <div class='dev-text' style='text-align:justify;'>
                        <p> <strong> Portfolio</strong> : Codeln will serve as a showroom for all your past projects. We will grade them and serve them up as part of your portfolio.</p>
                        <p><strong> Improve your Skills</strong> : Building practical projects of real world tasks increases your Codeln Score. This Score is benchmarked against our highest scores across all Countries and Winners are rewarded.</p>
                        <p><strong> Community</strong> : Access to our Recruiter-Developer Community where you can share ideas with talented Devs like you across the world and get insights about the Tech needs of different Markets from Recruiters across the world.</p>

                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 " style="margin-top: 10%">

            <h4>Build your Portfolio</h4>

            <form action="/dev" method="post">


                <div class="form-group">

                    <label>Full Name</label>
                    <input type="text" class="form-control" required name="username">
                </div>
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" class="form-control" required name="email">
                </div>



                <button type="submit" class="btn btn-warning btn-lg">Get early access</button>


            </form>


        </div>

    </div>


</div>